<div class="comment">
    
    {{#if queried}}
    <div class="comment-source">
        <span class="material-symbols-outlined">notes</span> 
        <p>Commented under: <a href="/post/{{rootPost.postId}}"><h4>{{rootPost.title}}</h4></a></p>
    </div>
    {{/if}}

    <div class="comment-header">
        <div class="comment-info">
            <div class="comment-icon"><img src="/image/{{author.decor.icon}}" alt="icon"></div>
            <div class="comment-info-text" itemId="{{commentId}}">
                <a href="/user/{{author.credentials.username}}?type=posts"><h4 class="comment-username">{{author.credentials.username}}</h4></a>
                <p class="comment-date">{{datePosted}}</p>
                <p class="comment-edit hide">Edited {{dateEdited}}</p>
            </div>
        </div>
        {{#unless deleted}}
            {{#if isAuthor}}
                <div class="comment-options">
                    <span class="material-symbols-outlined comment-options-button">more_horiz</span> 
                    <span class="material-symbols-outlined comment-options-button hide">done_outline</span>
                    <ul class="comment-menu hide">
                        <li class="comment-menu-options editCommBtn" editCommentId="{{commentId}}">Edit</li>
                        <li class="comment-menu-options deleteCommBtn" deleteCommentId="{{commentId}}">Delete</li>
                    </ul>
                </div>
            {{/if}}
        {{/unless}}
    </div>

    <div class="comment-body">
        <div class="comment-content" contentEditable="false">
            {{content}}
        </div>
    </div>

    {{#unless deleted}}
        <div class="comment-buttons">
            <div class="comment-button comment-like" liked="false" commentId="{{commentId}}">
                <span class="material-symbols-outlined comment-button-icon">thumb_up</span>
                <span class="comment-count">
                {{#if likes.length}}
                    {{likes.length}}
                {{else}}
                    Like
                {{/if}}
                </span>
            </div>
            <div class="comment-button comment-dislike" disliked="false" commentId="{{commentId}}">
                <span class="material-symbols-outlined comment-button-icon">thumb_down</span>
                <span class="comment-count">
                {{#if dislikes.length}}
                    {{dislikes.length}}
                {{else}}
                    Dislike
                {{/if}}
                </span>
            </div>
            <div class="comment-button comment-reply" commentId="{{commentId}}">
                <span class="material-symbols-outlined comment-button-icon">chat_bubble</span>
                <span class="comment-count">
                {{#if comments.length}}
                    {{comments.length}}
                {{else}}
                    Reply
                {{/if}}
                </span>
            </div>
        </div>

        <div class="reply-input-box hide" commentId="{{commentId}}">
            <form class="createReplyForm" method="post" commentId="{{commentId}}">
                <input name="reply-content" class="reply-input" placeholder="Add a reply..." />
                <button><span class="material-symbols-outlined" type="submit">send</span></button>
            </form> 
        </div>
    {{/unless}}

    {{#if comments.length}}
        <div class="nested-comments">
            {{> nested-comment comments}}
        </div>
    {{/if}}

</div>