<div class="comment">

    <div class="comment-header">
        <div class="comment-info">
            <div class="comment-icon"><img src="{{author.decor.icon}}" alt="icon"></div>
            <div class="comment-info-text">
                <h4 class="comment-username">{{author.credentials.username}}</h4>
                <p class="comment-date">{{datePosted}}</p>
                <p class="comment-edit hide">Edited</p>
            </div>
        </div>
        <div class="comment-options">
            <span class="material-symbols-outlined comment-options-button" authorName="{{author.credentials.username}}">more_horiz</span>
            <span class="material-symbols-outlined comment-options-button hide">done_outline</span>
            <ul class="comment-menu hide">
                <li class="comment-menu-options editCommBtn" editCommentId="{{comment-id}}">Edit</li>
                <li class="comment-menu-options deleteCommBtn" deleteCommentId="{{comment-id}}">Delete</li>
            </ul>
        </div>
    </div>

    <div class="comment-body">
        <div class="comment-content">
            {{content}}
        </div>
    </div>

    <div class="comment-buttons">
        <div class="comment-button">
            <span class="material-symbols-outlined comment-button-icon">thumb_up</span>
            <span class="comment-count">
            {{#if likes.length}}
                {{likes.length}}
            {{else}}
                Like
            {{/if}}
            </span>
        </div>
        <div class="comment-button">
            <span class="material-symbols-outlined comment-button-icon">thumb_down</span>
            <span class="comment-count">
            {{#if dislikes.length}}
                {{dislikes.length}}
            {{else}}
                Dislike
            {{/if}}
            </span>
        </div>
        <div class="comment-button">
            <span class="material-symbols-outlined comment-button-icon">chat_bubble</span>
            <span class="comment-count">
            {{#if comments.length}}
                {{comments.length}}
            {{else}}
                Reply
            {{/if}}
            </span>
        </div>
    </div>

</div>