<div class="post">
    <div class="post-header">
        <div class="post-info">
            <a href="/user/{{author.credentials.username}}?type=posts" class="post-icon"><img src="/image/{{author.decor.icon}}" alt="icon"></a>
            <div class="post-info-text" itemId="{{postId}}">
                <a href="/user/{{author.credentials.username}}?type=posts"><h4 class="post-username">{{author.credentials.username}}</h4></a>
                <p class="post-date">{{datePosted}}</p>
                <p class="post-edit hide">Edited {{dateEdited}}</p>
            </div>
        </div>
        {{#unless deleted}}
            {{#if isAuthor}}
                <div class="post-options">
                    <span class="material-symbols-outlined post-options-button">more_horiz</span>
                    <ul class="post-menu hide">
                        <li class="post-menu-options editBtn" editPostId="{{postId}}">Edit</li>
                        <li class="post-menu-options deleteBtn" deletePostId="{{postId}}">Delete</li>
                    </ul>
                </div>
            {{/if}}
        {{/unless}}

    </div>

    <div class="post-body">
        <div class="post-title">
            <a href="/post/{{postId}}" class="viewPost" viewPostId="{{postId}}"><h3>{{title}}</h3></a>
        </div>
        <div class="post-content">
            {{#if fullContent}}
                {{content}}
            {{else}}
                {{truncate content 200}}
            {{/if}}
        </div>
    </div>
    {{#if tags.length}}
    <div class="post-tags">
        {{#each tags}}
            <a href="/search?tag={{this}}" class="post-tag">{{this}}</a>
        {{/each}}
    </div>
    {{/if}}

    {{#unless deleted}}
    <div class="post-buttons">
        <div class="post-button post-like" liked="false" postId="{{postId}}">
            <span class="material-symbols-outlined post-button-icon">thumb_up</span>
            <span class="post-count">
            {{#if likes.length}}
                {{likes.length}}
            {{else}}
                Like
            {{/if}}
            </span>
        </div>
        <div class="post-button post-dislike" disliked="false" postId="{{postId}}">
            <span class="material-symbols-outlined post-button-icon">thumb_down</span>
            <span class="post-count">
            {{#if dislikes.length}}
                {{dislikes.length}}
            {{else}}
                Dislike
            {{/if}}
            </span>
        </div>
        <a href="#" class="post-button post-comment" commentPostId="{{postId}}">
            <span class="material-symbols-outlined post-button-icon">chat_bubble</span>
            <span class="post-count">
            {{#if comments.length}}
                {{comments.length}}
            {{else}}
                Comment
            {{/if}}
            </span>
        </a>
    </div>
    {{/unless}}
</div>