<div class="card">
    <div class="card-header">
        <div class="card-info">
            {{#if isUser}}
            <a href="/user/{{credentials.username}}?type=posts" class="card-icon">
                <img src="/image/{{decor.icon}}" alt="icon">
            </a>
            <div class="card-info-text">
                <a href="/user/{{credentials.username}}?type=posts"><h3 class="card-username">{{credentials.username}}</h3></a>
            </div>
            {{else}}
            <a href="/search?tag={{tag}}" class="card-icon">
                <span class="material-symbols-outlined">tag</span>
            </a>
            <div class="card-info-text">
                <a href="/search?tag={{tag}}"><h3 class="card-username">{{tag}} ({{count}} post/s)</h3></a>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="card-body">
        <div class="card-content">
            {{#if isUser}}
                {{truncate decor.bio 100}}
            {{else}}
                Last post: {{latestPostDate}}
            {{/if}}
        </div>
    </div>
</div>