<div class="card">
    <div class="card-header">
        <div class="card-info">
            <a href="/{{credentials.username}}" class="card-icon"><img src="{{decor.icon}}" alt="icon"></a>
            <div class="card-info-text">
                <a href="/{{credentials.username}}"><h3 class="card-username">{{credentials.username}}</h3></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-content">
            {{decor.bio}}
        </div>
    </div>
</div>